<app-header></app-header>

<div class="container">
    <main>
        <h3>Записи</h3>
        <ol>
            <app-enregistrement *ngFor="let enregistre of enregs"
                        [id]="enregistre.id"
                        [auteur]="enregistre.auteur"
                        [enregistrementTitre]="enregistre.enregistrementTitre"
                        [categori]="enregistre.categori"
                        [contenu]="enregistre.contenu">
            </app-enregistrement>
        </ol>
    </main>

    <aside>
        <h3>Создать запись</h3>
        <form>
            <ol>
            <li><label for="auteur">Автор</label></li>
            <li><input type="text" id="auteur" name="auteurr" [(ngModel)]="auteur"></li>
            <li><label for="enregistrementTitre">Заголовок</label></li>
            <li><input type="text" id="enregistrementTitre" name="enregistrementTitre" [(ngModel)]="enregistrementTitre"></li>
            <li><label for="categori">Категория</label></li>
            <li><input type="text" id="categori" name="categori" [(ngModel)]="categori"></li>
            <li><label for="contenu">Содержание</label></li>
            <li><textarea id="contenu" name="contenu" rows="10" cols="24" [(ngModel)]="contenu"></textarea></li>
            <li><button (click)="creer1_enregistrement()" type="submit" id="button">Создать</button></li>
            </ol>
        </form>
        <h3>Архив</h3>
        <app-archives *ngFor="let archive of archives" , [archiveTitre]="archive">
            [archiveTitre]="archive.archiveTitre"
        </app-archives>
        
    </aside>
    
</div>
<app-footer></app-footer>